<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.xiaofei_dev.ninegrid">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity-->
            <!--android:name="me.iwf.photopicker.PhotoPickerActivity"-->
            <!--android:theme="@style/Theme.AppCompat.NoActionBar" />-->
        <!--<activity-->
            <!--android:name="me.iwf.photopicker.PhotoPagerActivity"-->
            <!--android:theme="@style/Theme.AppCompat.NoActionBar" />-->
        <activity android:name=".ui.ClipQQActivity"
            android:label="QQ"/>
        <activity android:name=".ui.NineGridActivity"
            android:label="自由九宫格"/>
        <activity android:name=".ui.ClipWeChatActivity"
            android:label="WeChat"/>
    </application>

</manifest>